<p-toast position="top-center" key="tc"></p-toast>
<div class="row" class="background-image">
    <div [@fadeInOut] [hidden]="navBar" class="col-3">
        <app-menu></app-menu>
    </div>
    <div [class]="columna">
        <div class="row " style="margin-top: 6%; ">
            <div class="col-6">
                <button id="sidebarCollapse" type="button"
                    class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" (click)="toggleNavBar()">
                    <i class="fa fa-bars mr-2"></i>
                    <small class="text-uppercase font-weight-bold">MODULOS</small>
                </button>
            </div>
            <div class="col-6 text-end">
                <button type="button" class="btn btn-outline-light" (click)="showDialog()">AGREGAR</button>

            </div>
            <div class="col-12 mt-3">
                <p-table #dt1 [value]="arrayProveedor" dataKey="idCatSupplier" [rows]="10"
  [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" filterMode="global"
  styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'font-size': '15px' }"
  [scrollable]="true" scrollHeight="340px" [virtualScrollItemSize]="60">
  <ng-template pTemplate="caption"></ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="flex align-items-center mt-4">
          Nombre
        </div>
      </th>
      <th>
        <div class="flex align-items-center mt-4">
          Teléfono
        </div>
      </th>
      <th>
        <div class="flex align-items-center mt-4">
          Dirección
        </div>
      </th>
      <th class="flex align-items-center mt-4">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-proveedor>
    <tr [hidden]="proveedor.person.status == false">
      <td>{{ proveedor.person.name }} {{ proveedor.person.lastName }}</td>
      <td>{{ proveedor.person.phone }}</td>
      <td>{{ proveedor.person.street }}, {{ proveedor.person.neighborhood }}</td>
      <td>
        <a [routerLink]="['/EditarProveedores', proveedor.idCatSupplier]">
          <button class="btn custom-small-button btn-outline-warning">
            <i class="pi pi-pencil"></i>
          </button>
        </a>
        &nbsp;&nbsp;
        <button class="btn custom-small-button btn-outline-danger"
          (click)="eliminarProvedor(proveedor.idCatSupplier)">
          <i class="pi pi-times"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No hay proveedores disponibles.</td>
    </tr>
  </ng-template>
</p-table>

            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class=" flex justify-content-center">
                    <p-toast></p-toast>
                    <div class=" flex justify-content-center">
                        <p-dialog header="INFORMACION PROVEEDOR" [(visible)]="visible" [style]="{ width: '60vw' }"
                            [maximizable]="true" headerStyleClass="custom-dialog-header">
                            <div class="row">
                                <input type="text" class="form-control" hidden [(ngModel)]="provedor.idCatSupplier" />
                                <div class="col-6">
                                    <label for="Nombre">Nombre:</label>
                                    <input type="text" class="form-control" [(ngModel)]="provedor.person.name" />
                                </div>
                                <div class="col-6">
                                    <label for="apaterno">Apellido Paterno:</label>
                                    <input type="text" class="form-control" [(ngModel)]="provedor.person.lastName" />
                                </div>
                                <div class="col-6">
                                    <label for="amaterno">Apellido Materno:</label>
                                    <input type="text" class="form-control" [(ngModel)]="provedor.person.middleName" />
                                </div>
                                <div class="col-6">
                                    <label for="telefono">Telefono:</label>
                                    <input type="text" class="form-control" [(ngModel)]="provedor.person.phone" />
                                </div>
                                <div class="col-6">
                                    <label for="calle">Calle:</label>
                                    <input type="text" class="form-control" [(ngModel)]="provedor.person.street" />
                                </div>
                                <div class="col-6">
                                    <label for="Colonia">Colonia:</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="provedor.person.neighborhood" />
                                </div>
                                <div class="col-6">
                                    <label for="numE">Numero Exterior:</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="provedor.person.streetNumber" />
                                </div>
                                <div class="col-6">
                                    <label for="numI">Numero Interior:</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="provedor.person.apartmentNumber" />
                                </div>
                                <div class="col-6">
                                    <label for="cp">Codigo Postal:</label>
                                    <input type="text" class="form-control" [(ngModel)]="provedor.person.postalCode" />
                                </div>
                                <div class="col-6">
                                    <label for="cp">Correo:</label>
                                    <input type="text" class="form-control" [(ngModel)]="provedor.email" />
                                </div>

                                <div class="col-12 text-center mt-4">
                                    <p-button label="Guardar" icon="pi pi-save" (click)="agregarProvedor()"
                                        styleClass="p-button-outlined p-button-success mx-5"></p-button>
                                    <p-button label="Cancelar" icon="pi pi-times"
                                        styleClass="p-button-outlined p-button-danger" (click)="cancelar()"></p-button>
                                </div>
                            </div>
                        </p-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>