<p-toast position="top-center" key="tc"></p-toast>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-start">
                    <p-button label="Nuevo" icon="pi pi-user-plus" styleClass="p-button-outlined  p-button-warning"
                        (click)="showDialog()"></p-button>
                </div>
            </div>
            <p-table #dt1 [value]="arrayProveedor" dataKey="idCatSupplier" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" filterMode="global">
    <ng-template pTemplate="caption">
        <!-- Aquí puedes agregar algún contenido adicional para la cabecera de la tabla si lo deseas -->
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>
                <div class="flex align-items-center">
                    Nombre
                    <p-columnFilter type="text" field="person.name" display="menu" filterHeader="Nombre"
                        filterMatchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Teléfono
                    <p-columnFilter type="text" field="person.phone" display="menu" filterHeader="Teléfono"
                        filterMatchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Dirección
                    <p-columnFilter type="text" field="person.street" display="menu" filterHeader="Dirección"
                        filterMatchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proveedor>
        <tr>
            <td>{{ proveedor.person.name }} {{ proveedor.person.lastName }}</td>
            <td>{{ proveedor.person.phone }}</td>
            <td>{{ proveedor.person.street }}, {{ proveedor.person.neighborhood }}</td>
            <td>
                <a [routerLink]="['/EditarProveedores', proveedor.idCatSupplier]">
                    <p-button icon="pi pi-pencil"
                        styleClass="p-button-rounded p-button-warning p-button-outlined p-button-sm"></p-button>
                </a>
                &nbsp;&nbsp;
                <p-button icon="pi pi-times" (click)="eliminarProvedor(proveedor.idCatSupplier)"
                    styleClass="p-button-rounded p-button-danger p-button-outlined p-button-sm"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No hay proveedores disponibles.</td>
        </tr>
    </ng-template>
</p-table>

        
        

        </div>
    </div>
</div>
<h1>{{idProvedor}}</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card flex justify-content-center">
                <p-toast></p-toast>
                <div class="card flex justify-content-center">
                    <p-dialog header="INFORMACION PROVEEDOR" [(visible)]="visible" [style]="{ width: '60vw' }"
                        [maximizable]="true" headerStyleClass="custom-dialog-header">
                        <div class="row">
                            <div class="col-6">
                                <label for="Nombre">Nombre:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.name" />
                            </div>
                            <div class="col-6">
                                <label for="apaterno">Apellido Paterno:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.lastName" />
                            </div>
                            <div class="col-6">
                                <label for="amaterno">Apellido Materno:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.middleName" />
                            </div>
                            <div class="col-6">
                                <label for="telefono">Telefono:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.phone" />
                            </div>
                            <div class="col-6">
                                <label for="calle">Calle:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.street" />
                            </div>
                            <div class="col-6">
                                <label for="Colonia">Colonia:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.neighborhood" />
                            </div>
                            <div class="col-6">
                                <label for="numE">Numero Exterior:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.streetNumber" />
                            </div>
                            <div class="col-6">
                                <label for="numI">Numero Interior:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.apartmentNumber" />
                            </div>
                            <div class="col-6">
                                <label for="cp">Codigo Postal:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.person.postalCode" />
                            </div>
                            <div class="col-6">
                                <label for="cp">Correo:</label>
                                <input type="text" class="form-control" [(ngModel)]="provedor.email" />
                            </div>

                            <div class="col-12 text-center mt-4">
                                <p-button label="Guardar" icon="pi pi-save" (click)="agregarProvedor()"
                                    styleClass="p-button-outlined p-button-success mx-5"></p-button>
                                <p-button label="Cancelar" icon="pi pi-times"
                                    styleClass="p-button-outlined p-button-danger" (click)="cancelar()"></p-button>
                            </div>
                        </div>
                    </p-dialog>
                </div>
            </div>
        </div>
    </div>
</div>