<p-toast position="top-center" key="tc"></p-toast>
<div id="login-bg" class="container-fluid">
    <div class="bg-img"></div>
    <div class="bg-color"></div>
</div>
<div class="container" id="login">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="login">
                <h1>INICIO DE SESI&Oacute;N</h1>
                <form>
                    <div class="form-group">
                      <input type="email" class="form-control" [(ngModel)]="usuario" name="usuario" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa el usuario">
                    </div>
                    <div class="form-group">
                      <input [type]="tipoContrasenia" class="form-control" [(ngModel)]="contrasenia" name="contrasenia" id="exampleInputPassword1" placeholder="Ingresa la contraseña">
                    </div>                    
                    <!-- <div class="form-check">
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                        <label class="form-check-label" (click)="cambiarTipoContrasenia()">MOSTRAR CONTRASEÑA</label>
                      </div> -->
                    <br>
                    <button (click)="obtenerInicioSesion()" class="btn btn-lg btn-block btn-success">INGRESAR</button>
                  </form>
                  <span>No tienes usuario. Regístrate</span>
                  <a (click)="registrarseRuta()" routerLink="/Registro" style="color: blue;" href="#">  Aquí</a>
                  
            </div>
        </div>
    </div>
</div>
