<div class="row" class="background-image">
    <div [@fadeInOut] [hidden]="navBar" class="col-3">
        <app-menu></app-menu>
    </div>
    <div [class]="columna">
        <div class="row " style="margin-top: 6%; ">
            <div class="col-6">
                <button id="sidebarCollapse" type="button"
                    class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" (click)="toggleNavBar()">
                    <i class="fa fa-bars mr-2"></i>
                    <small class="text-uppercase font-weight-bold">MODULOS</small>
                </button>
            </div>
            
            <div class="col-12 mt-3" style="background-color: white; margin-left: -20px;">
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
        </div>
    </div>
</div>