<div class="row" class="background-image">
    <div [@fadeInOut] [hidden]="navBar" class="col-3">
        <app-menu></app-menu>
    </div>
    <div [class]="columna">
        <div class="row " style="margin-top: 6%; ">
            <div class="col-6">
                <button id="sidebarCollapse" type="button"
                    class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" (click)="toggleNavBar()">
                    <i class="fa fa-bars mr-2"></i>
                    <small class="text-uppercase font-weight-bold">MODULOS</small>
                </button>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="colo" style="color: white;">Tipo deGrafica:</label><br>
                    <select class="form-select" [(ngModel)]="tipoGrafica">
                        <option *ngFor="let t of graficas" [value]="t.valor">{{ t.nombre }}</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="colo" style="color: white;">Fecha:</label><br>
                    <input class="form-control" type="date" [(ngModel)]="fecha">
                </div>
                <div class="col-4">
                    <p-button label="Obtener" (click)="obtencionDatos()"
                                    styleClass="p-button-outlined p-button-success  mx-5 mt-4"></p-button>
                </div>
            </div>
            <div style="overflow-y: auto; overflow-x: hidden; height: 60vh;">
                
            <div class="col-12 mt-3" style="background-color: white; margin-left: -20px;" *ngIf="arraySalesByClient.length>0">
                <label for="materia" class="mt-4"><b>INFORMACION DE VENTAS POR CLIENTE</b></label>
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
            <div class="col-12 mt-3" style="background-color: white; margin-left: -20px;" *ngIf="arrayPurchasesBySupplier.length>0">
                <label for="materia" class="mt-4"><b>INFORMACION DE COMPRAS POR PROVEEDOR</b></label>
                <p-chart type="bar" [data]="getChartData()" [options]="options" width="800" height="400"></p-chart>

            </div>
            <div class="col-12 mt-3" style="background-color: white; margin-left: -20px;" *ngIf="arrayRawMaterialsByRecipe.length>0">
                <label for="materia" class="mt-4"><b>INFORMACION DE MATERIAS PRIMAS POR RECETAS</b></label>
                <p-table [value]="arrayComprasp" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad en Almacén</th>
                            <th>Cantidad por Paquete</th>
                            <th>Descripción</th>
                            <th>Cantidad Total Utilizada</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td>{{ rowData.name }}</td>
                            <td>{{ rowData.quantityWarehouse }}</td>
                            <td>{{ rowData.quantityPackage }}</td>
                            <td>{{ rowData.description }}</td>
                            <td>{{ rowData.totalQuantityRawMaterialUsed }}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-chart type="bar" [data]="chartDataPay" [options]="optionsBarras"></p-chart>
            </div>

            <div class="col-12 mt-3" style="background-color: white; margin-left: -20px;" *ngIf="arrayRecipesBySale.length>0">
                <label for="materia" class="mt-4"><b>INFORMACION DE RECETAS POR VENTAS</b></label>
                <p-chart type="bar" [data]="chartDataR" [options]="chartOptionsR"></p-chart>

            </div>
        </div>

        </div>
    </div>
</div>
