<div id="login-bg" class="container-fluid">
    <div class="bg-img"></div>
    <div class="bg-color"></div>
</div>
<div class="container" id="login">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="login">
                <h1>REGISTRO</h1>
                <form>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <input type="email" class="form-control" name="usuario" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa el usuario">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <input type="email" class="form-control" name="usuario" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa el usuario">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <input type="email" class="form-control" name="usuario" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa el usuario">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <input type="email" class="form-control" name="usuario" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa el usuario">
                      </div>
                    </div>
                  </div>
                    
                                      
                   
                    <br>
                    <button  class="btn btn-lg btn-block btn-success">REGISTRASE</button>
                  </form>
                  
            </div>
        </div>
    </div>
</div>
