<p-toast position="top-center" key="tc"></p-toast>
<div class="row" class="background-image">
  <div [@fadeInOut] [hidden]="navBar" class="col-3">
    <app-menu></app-menu>
  </div>
  <div [class]="columna">
    <div class="row " style="margin-top: 6%; ">
      <div class="col-6">
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
          (click)="toggleNavBar()">
          <i class="fa fa-bars mr-2"></i>
          <small class="text-uppercase font-weight-bold">MODULOS</small>
        </button>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-outline-light" (click)="showDialog()">AGREGAR</button>
      </div>
      <div class="col-12 mt-3" style="overflow-y: auto; overflow-x: hidden; height: 80vh;">
      <main>
        <section class="job-section recent-jobs-section section-padding" >
          <div class="container"  style="margin-top: -8%;">
            
              <div class="row align-items-center">

                  <div class="clearfix"></div>

                  <div class="col-lg-4 col-md-6 col-12" *ngFor="let stock of arrayStock" [hidden]="stock.status==false">
                      <div class="job-thumb job-thumb-box">
                          <div class="job-image-box-wrap">
                              <a href="job-details.html">
                                  <img [src]="stock.filePath" class="job-image img-fluid" alt="">
                              </a>

                              <div class="job-image-box-wrap-info d-flex align-items-center">
                              

                                <p class="mb-0">
                                    <a type="submit" class="badge" (click)="eliminarEmpleado(stock.idCatRecipe)">Informacion de {{ stock.name}}</a>
                                </p>
                            </div>

                            
                          </div>

                          <div class="job-body">
                              <h4 class="job-title">
                                  <a href="job-details.html" class="job-title-link">{{ stock.name }}</a>
                              </h4>

                              <div class="d-flex align-items-center">
                                  <div class="job-image-wrap d-flex align-items-center bg-white shadow-lg mt-2 mb-4">
                                      <img src="/assets/logotipo.png" class="job-image me-3 img-fluid" alt="">

                                      <p class="mb-0">ClayTrack</p>
                                  </div>

                                  <a href="#" class="bi-bookmark ms-auto me-2">
                                  </a>

                                  <a href="#" class="bi-heart">
                                  </a>
                              </div>

                              <div class="d-flex align-items-center">
                                  <p class="job-location">
                                      <i class="custom-icon bi-geo-alt me-1"></i>
                                      {{ stock.description }}
                                  </p>
                              </div>

                              <div class="d-flex align-items-center border-top pt-3">
                                  <p class="job-price mb-0">
                                      <i class="custom-icon bi-cash me-1"></i>
                                      {{ '$' + stock.price }}MXM
                                  </p>

                                  
                              </div>
                          </div>
                      </div>
                  </div>
              
                 
              </div>
          </div>
      </section>
      
      </main>
        
          <!-- <div class="product-list">
            <div class="product-item" *ngFor="let product of products">
              <div class="product-image">
                <img [src]="product.image" [alt]="product.name" />
              </div>
              <div class="product-details">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <div class="product-price">{{ '$' + product.price }}</div>
                <button class="add-to-cart-btn" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                  (click)="agregarCarrito(product)">Add to Cart</button>
              </div>
            </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <h2>Carrito de Compras</h2>
<div class="cart-list" *ngIf="productosAgregar.length > 0">
    <p-table [value]="productosAgregar" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Producto</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td><img [src]="product.image" [alt]="product.name" class="product-image" /></td>
        <td>{{ product.name }}</td>
        <td>{{ '$' + product.price }}</td>
        <td>
          <div class="quantity-input">
            <button class="quantity-btn btn btn-danger" (click)="modificarCantidad(product, -1)">-</button>
            <input type="text" [(ngModel)]="product.quantity" (change)="calcularSubtotal(product)" />
            <button class="quantity-btn btn btn-success" (click)="modificarCantidad(product, 1)">+</button>
          </div>

        </td>
        <td>{{ '$' + product.subtotal }}</td>
        <td>
          <button class="remove-from-cart-btn" (click)="eliminarProducto(product)">Eliminar</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="cart-total">Total: {{ calcularTotal() | currency }}</div>
</div> -->



<div class="container">
  <div class="row">
    <div class="col-12">
      <div class=" flex justify-content-center">
        <p-toast></p-toast>
        <div class=" flex justify-content-center">
          <p-dialog header="INFORMACION STOCK" [(visible)]="visible" [style]="{ width: '60vw' }" [maximizable]="true"
            headerStyleClass="custom-dialog-header">
            <div class="row">
              <div class="col-6">
                <label for="unidadMedida">Receta:</label>
                <!-- <select (change)="seleccionarMateriaPrima($event)">
                    <option *ngFor="let receta of arrayMateriaPrimaSelector; let i = index"
                            [value]="i">{{receta.name}}</option>
                  </select>
                  
                  <div *ngIf="selectedObject">
                    <h2>Detalles de la materia prima</h2>
                    <pre>{{ selectedObject | json }}</pre>
                  </div> -->
                  
                  
                <select class="form-select" [(ngModel)]="idReceta"
                    aria-label="Default select example">
                    <option selected>Selecciona una opcion</option>
                    <option *ngFor="let receta of arrayReceta; let i =index" [hidden]="receta.status==false"
                        value="{{receta.idCatRecipe}}" >{{receta.name}}</option>
                </select>
            </div>
              <div class="col-6">
                <label for="apaterno">Total Receta:</label>
                <input type="text" class="form-control" [(ngModel)]="totalReceta" />
              </div>

              <div class="col-12 text-center mt-4">
                <p-button label="Guardar" icon="pi pi-save" (click)="agregarStock()"
                  styleClass="p-button-outlined p-button-success  mx-5"></p-button>
                <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-outlined p-button-danger"
                  (click)="cancelar()"></p-button>
              </div>
            </div>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class=" flex justify-content-center">
        <p-toast></p-toast>
        <div class=" flex justify-content-center">
          <p-dialog header="INFORMACION STOCK" [(visible)]="visible" [style]="{ width: '60vw' }" [maximizable]="true"
            headerStyleClass="custom-dialog-header">
            <div class="row">
              <div class="col-6">
                <label for="unidadMedida">Receta:</label>
                <!-- <select (change)="seleccionarMateriaPrima($event)">
                    <option *ngFor="let receta of arrayMateriaPrimaSelector; let i = index"
                            [value]="i">{{receta.name}}</option>
                  </select>
                  
                  <div *ngIf="selectedObject">
                    <h2>Detalles de la materia prima</h2>
                    <pre>{{ selectedObject | json }}</pre>
                  </div> -->
                  
                  
                <select class="form-select" [(ngModel)]="idReceta"
                    aria-label="Default select example">
                    <option selected>Selecciona una opcion</option>
                    <option *ngFor="let receta of arrayReceta; let i =index"
                        value="{{receta.idCatRecipe}}" >{{receta.name}}</option>
                </select>
            </div>
              <div class="col-6">
                <label for="apaterno">Total Receta:</label>
                <input type="text" class="form-control" [(ngModel)]="totalReceta" />
              </div>

              <div class="col-12 text-center mt-4">
                <p-button label="Guardar" icon="pi pi-save" (click)="agregarStock()"
                  styleClass="p-button-outlined p-button-success  mx-5"></p-button>
                <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-outlined p-button-danger"
                  (click)="cancelar()"></p-button>
              </div>
            </div>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>
</div>

